/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.theme-hot-reload-file-watcher-container {
	padding-block: var(--size-4-2);
}

.theme-hot-reload-file-watcher-container > .setting-item {
	border: none;
	padding: var(--size-4-2);
}
